#enticing-image {
    position: relative;
}

#movie-search {
    position: absolute;
    bottom: 85px;
    left: 0;
    right:0;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    margin: auto;
    background: rgba(134, 134, 129, 0.5);
}

 button{
   position: relative;
color: rgb(221, 211, 212);
background:red;



}
