body {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    background: url("../images/background.png");
}

#logo-image {
    display:inline-block;
}
h5{
    display:inline-block;
    color: rgb(31, 93, 187);
    font-size: 45px;
    font-weight: bold;
    vertical-align: bottom;
    text-shadow: 2.5px 2.5px rgb(153, 152, 152);
}
p {
    color: white;
}
h2 {
    color: white;
}

.youtube-video {
    max-width: 100%;
    margin-top: 50px;
    margin-left: 15%;
    position: relative;
    
}

#movie-search {
    position: absolute;
    bottom: 100px;
    left: 0;
    right:0;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    margin: auto;
    background: rgba(134, 134, 129, 0.5);
}

.photo-credit {
    position: absolute;
    bottom: -10px;
    right: 70px;
    font-size: 12px;
}

.movie-btn {
    color: white;
    background:rgb(1, 46, 105);
    
}

#enticing-image-holder {
    position: relative;
}
#see {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
}
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
#suggested-toggle {
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 40px;
}

[class*="BT"]{width:200px;display:block;position:absolute;padding:0;border-color:#0e0e0e;margin:0 0 10px;line-height:6px;border-style:solid;left:55%;top:150px;margin-left:-125px;height:40px;}
[class*="BT"] hover{position:absolute;z-index:5;width:246px;margin-left:-370px;  transition: all 0.3s ease-out 0s;    background: -moz-linear-gradient(45deg,  rgba(255,255,255,0) 0%, rgba(135,135,135,0.38) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(135,135,135,0.38)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* IE10+ */background: linear-gradient(45deg,  rgba(255,255,255,0) 0%,rgba(135,135,135,0.38) 50%,rgba(255,255,255,0) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  height:60px;margin-top:-30px;}
[class*="OH"]{overflow:hidden;}
[class*="BR"]{border-width:2px;}
[class*="R6"]{border-radius:6px;}
[class*="NF"]{background:rgb(1, 46, 105);}
[class*="BT"]:hover hover{  margin-left:123px;}
[class*="TU"]{text-transform:uppercase;}
[class*="PT"]{cursor:pointer;}
[class*="BT"] span{  position:absolute;  width:200px;  margin-left:-100px;  z-index:3;}
canvas{margin: 0;padding: 0;display:block;position:absolute;margin-top:-30px;}